In [2]:
!pip install selenium

Collecting selenium
  Downloading selenium-4.19.0-py3-none-any.whl (10.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.5/10.5 MB 30.4 MB/s eta 0:00:00
Requirement already satisfied: urllib3[socks]<3,>=1.26 in /usr/local/lib/python3.10/dist-packages (from selenium) (2.0.7)
Collecting trio~=0.17 (from selenium)
  Downloading trio-0.25.0-py3-none-any.whl (467 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 467.2/467.2 kB 38.5 MB/s eta 0:00:00
Collecting trio-websocket~=0.9 (from selenium)
  Downloading trio_websocket-0.11.1-py3-none-any.whl (17 kB)
Requirement already satisfied: certifi>=2021.10.8 in /usr/local/lib/python3.10/dist-packages (from selenium) (2024.2.2)
Requirement already satisfied: typing_extensions>=4.9.0 in /usr/local/lib/python3.10/dist-packages (from selenium) (4.11.0)
Requirement already satisfied: attrs>=23.2.0 in /usr/local/lib/python3.10/dist-packages (from trio~=0.17->selenium) (23.2.0)
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.10/dist-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in /usr/local/lib/python3.10/dist-packages (from trio~=0.17->selenium) (3.7)
Collecting outcome (from trio~=0.17->selenium)
  Downloading outcome-1.3.0.post0-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: sniffio>=1.3.0 in /usr/local/lib/python3.10/dist-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: exceptiongroup in /usr/local/lib/python3.10/dist-packages (from trio~=0.17->selenium) (1.2.0)
Collecting wsproto>=0.14 (from trio-websocket~=0.9->selenium)
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Requirement already satisfied: pysocks!=1.5.7,<2.0,>=1.5.6 in /usr/local/lib/python3.10/dist-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Collecting h11<1,>=0.9.0 (from wsproto>=0.14->trio-websocket~=0.9->selenium)
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.3/58.3 kB 7.7 MB/s eta 0:00:00
Installing collected packages: outcome, h11, wsproto, trio, trio-websocket, selenium
Successfully installed h11-0.14.0 outcome-1.3.0.post0 selenium-4.19.0 trio-0.25.0 trio-websocket-0.11.1 wsproto-1.2.0

In [19]:
import requests

# url = 'https://en.wikipedia.org/wiki/List_of_largest_banks_in_the_United_States'  # Replace with the URL you want to scrape
url = 'https://www.marketwatch.com/guides/banking/largest-banks-in-the-us/'
response = requests.get(url)
html_content = response.text
# print(html_content)

In [13]:
from bs4 import BeautifulSoup

soup = BeautifulSoup(html_content, 'html.parser')

# Find the table element
table = soup.find('table')
print(table)

<table><thead><tr><th><strong>Rank by Asset Size</strong></th><th><strong>Bank Name</strong></th><th><strong>Total Assets</strong></th><th><strong><br/>Customer Count</strong></th><th><strong>Number of Branches</strong></th><th><strong>Number of ATMs</strong></th></tr></thead><tbody><tr><td>1.</td><td>Chase Bank</td><td>$3.38 trillion</td><td>80 million</td><td>4,700</td><td>16,000</td></tr><tr><td>2.</td><td>Bank of America</td><td>$2.45 trillion</td><td>68 million</td><td>3,900</td><td>15,000</td></tr><tr><td>3.</td><td>Wells Fargo</td><td>$1.7 trillion</td><td>70 million</td><td>4,500</td><td>11,000</td></tr><tr><td>4.</td><td>Citibank</td><td>$1.68 trillion</td><td>200 million accounts globally</td><td>600</td><td>2,300, plus access to a fee-free network of 65,000 ATMs</td></tr><tr><td>5.</td><td>U.S. Bank</td><td>$657.2 billion</td><td>11.6 million</td><td>2,000</td><td>4,500</td></tr><tr><td>6.</td><td>PNC Bank</td><td>$554.11 billion</td><td>12 million</td><td>2,400</td><td>2,600, plus access to a fee-free network of 60,000 ATMs</td></tr><tr><td>7.</td><td>Goldman Sachs Bank</td><td>$538.13 billion</td><td>10 million</td><td>None</td><td>None</td></tr><tr><td>8.</td><td>Truist Bank</td><td>$535 billion</td><td>15 million</td><td>2,000</td><td>3,000</td></tr><tr><td>9.</td><td>Capital One</td><td>$468.78 billion</td><td>100 million</td><td>300 branches and 50+ Capital One Cafes</td><td>70,000</td></tr><tr><td>10.</td><td>TD Bank</td><td>$366.25 billion</td><td>27.5 million globally</td><td>1,100</td><td>2,700</td></tr></tbody></table>

In [14]:
import pandas as pd

# Initialize an empty list to store rows
data = []

# Iterate through each row in the table
for row in table.find_all('tr'):
    # Get all cells in the row
    cells = row.find_all(['th', 'td'])
    # Get text from each cell
    row_data = [cell.get_text(strip=True) for cell in cells]
    # Append row data to the list
    data.append(row_data)

# Convert list of rows into a pandas DataFrame
df = pd.DataFrame(data)

In [15]:
import sqlite3

# Create a connection to an SQLite database
connection = sqlite3.connect('data.db')  # Replace 'data.db' with your desired database name

# Store the DataFrame in the database as a table
df.to_sql('table_name', connection, if_exists='replace', index=False)  # Replace 'table_name' with your desired table name

# Close the connection
connection.close()

In [16]:
print(df)

                     0                   1                2  \
0   Rank by Asset Size           Bank Name     Total Assets
1                   1.          Chase Bank   $3.38 trillion
2                   2.     Bank of America   $2.45 trillion
3                   3.         Wells Fargo    $1.7 trillion
4                   4.            Citibank   $1.68 trillion
5                   5.           U.S. Bank   $657.2 billion
6                   6.            PNC Bank  $554.11 billion
7                   7.  Goldman Sachs Bank  $538.13 billion
8                   8.         Truist Bank     $535 billion
9                   9.         Capital One  $468.78 billion
10                 10.             TD Bank  $366.25 billion

                                3                                       4  \
0                  Customer Count                      Number of Branches
1                      80 million                                   4,700
2                      68 million                                   3,900
3                      70 million                                   4,500
4   200 million accounts globally                                     600
5                    11.6 million                                   2,000
6                      12 million                                   2,400
7                      10 million                                    None
8                      15 million                                   2,000
9                     100 million  300 branches and 50+ Capital One Cafes
10          27.5 million globally                                   1,100

                                                    5
0                                      Number of ATMs
1                                              16,000
2                                              15,000
3                                              11,000
4   2,300, plus access to a fee-free network of 65...
5                                               4,500
6   2,600, plus access to a fee-free network of 60...
7                                                None
8                                               3,000
9                                              70,000
10                                              2,700

In [18]:
import csv
df.to_csv('bank_table.csv', index = False)

In [ ]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import time

# Path to your web driver
chrome_driver_path = ''  # Replace with the path to your ChromeDriver

# Initialize the Chrome browser
driver = webdriver.Chrome()

# Navigate to the web page you want to scrape
url = 'https://en.wikipedia.org/wiki/List_of_largest_banks_in_the_United_States'  # Replace with the URL you want to scrape
driver.get(url)

# Wait for the page to load
time.sleep(2)

# Scrape the desired data
# Example: Find an element by its tag name
element = driver.find_element(By.TAG_NAME, 'h1')
print(f'Scraped data: {element.text}')

# Close the browser
driver.quit()